extends layout

block content
	h1= title
	p Welcome to #{title}
	a(href='/new') Submit a message
	div(class='msgContainer')
		each msg in msgs
			div(class='msg')
				div(class='userData')
					p= msg.user
					p= msg.added
				p= msg.text
